.body{
    max-width: fit-content;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    max-height: fit-content;
}

.fill{
    display: block;
    margin: 0 auto;
}

.list{
    display: block;
    background-color: rgba(2, 5, 4, 0.217);
}
.h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 1, 1);
}
.sterling{
    display: flex;
}
.img{
    height: 150px;
    width: 150px;
}
.h3{
    color: rgb(114, 110, 110);
    padding-top: 4rem;
    margin-left: -95px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 7px
}
.button{
    padding: 4px;
    color: black;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    background-origin: padding-box;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.deferred{
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: fill;
    padding-left: -20rem;
    margin-top: 20px;
}

button{
    padding: 4px;
    color: black;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    background-origin: padding-box;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10rem;
}